.top {
    border: 6px solid black;
    display: flex;
    justify-content: space-around;

    #timer {
        display: flex;
        flex-direction:column;
        align-items:center;
    }

    #temp {
        display: flex;
    }

    #newWebsite {
        display: flex;
    }
}
.topButtons {
    display: flex;
    justify-content:space-between;
}



.inputBar {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 100%;
    text-align: center;
}
